<section id="root-page" class="group">

  <%= render "navbar" %>
  <section id="content"></section>

</section>

<script>

  $(document).ready(function(){
    var $rootEl = $("#content")
    QuizCzar.initialize($rootEl);
  });

</script>
