<section id="root" class="group"></section>


<script id="signout-button" type="template">
  <%= button_to "Sign Out", {controller: :sessions, action: 'destroy'}, method: :delete %>
</script>

<script>
  $(document).ready(function(){
    var $rootEl = $("#root")
    QuizCzar.initialize($rootEl);
  });
</script>
