<figure class="splash-image">
  <nav class="splash-nav group">
    <a class="sign-in-link">
      Sign In
      <div class="sign-in-form">
        <% #render "session/form" %>
      </div>
    </a>
  </nav>
</figure>
