<figure class="splash-image">
  <nav class="splash-nav group">
    <a class="sign-in-link">
      Sign In
    </a>
    <div class="sign-in">
      <%= render "session/new" %>
    </div>
  </nav>

  <button class="sign-up-button">Sign Up</button>
</figure>


<script>
  $('.sign-up-button').on("click", function(event){
    event.preventDefault()
    window.location.href =  "<%= new_user_url %>"
  });
</script>
