<figure class="splash-image">
  <nav class="splash-nav group">
    <a class="sign-in-link">
      Sign In
      <div class="sign-in-form">
        <%= render "session/new" %>
      </div>
    </a>
  </nav>

  <button class="sign-up-button">Sign Up</button>
</figure>


<script>
  $('.sign-up-button').on("click", function(){ window.location =  "<%= new_user_url %>"});
</script>
