<section class="quiz-play-question">
    <h1><%= question.escape("question")%></h1>
  <% QuizCzar.Util.shuffle(question.answers()).each(function(answer){ %>

    <label>
      <input type="radio" name="answers[<%= question.id %>]" value="<%= answer.id %>">
      <%= answer.escape("answer")%>
    </label>

  <% }) %>
</section>
