<form action="<%= session_url %>" method="post">
  <label>
    Email
    <input type="string" name="user[email]">
  </label>

  <label>
    Password
    <input type="string" name="user[password]">
  </label>

  <button>
    Submit
  </button>
</form>
