<h5 class="sign-in-fail"></h5>

<form class="sign-in-form">

  <label>
    Email
    <input type="string" name="user[email]">
  </label>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <%= auth_token_input %>

  <button class="sign-in-button">
    Submit
  </button>
</form>


<script>
  $(function(){

    $('.sign-in-button').on("click", function(event){
      event.preventDefault();
      var signindata = $('.sign-in-form').serializeJSON();
      $.ajax("<%= session_url %>",{
        accepts: "json",
        method: "post",
        data: signindata,
        success: function() {
          window.location.href = "<%= root_url %>";
        },
        error: function() {
          $(".sign-in-fail").html("Failed to sign in");
        }
      });
    });

  });
</script>
