<script type="template" id="SignUp">

  <h1>Sign Up</h1>

  <ul class="errors">
  </ul>

  <form class="sign-up-form">

    <label>
      Name
      <input type="string" name="user[name]">
    </label>

    <label>
      Email
      <input type="string" name="user[email]">
    </label>

    <label>
      Password
      <input type="password" name="user[password]">
    </label>

    <%= auth_token_input %>

    <button>Sign Up</button>
  </form>

</script>


<script>
  $('body').on("click", "#model", function(event){
    if (event.currentTarget === event.target)
      $("#model").remove();
  });


  $('body').on("submit", "#model .sign-up-form", function(event){
    event.preventDefault();
    var signUpData = $(".sign-up-form").serializeJSON();

    $.ajax("<%= users_url %>",{
      accepts: "json",
      method: "post",
      data: signUpData,
      success: function() {
        window.location.href = "<%= root_url %>";
      },
      error: function(data) {
        $(".errors").empty();
        errors = JSON.parse(data.responseText);
        errors.forEach(function(error){
          var errorItem = $("<li>").html(error);
          $(".errors").append(errorItem);
        })
      }
    });
  });
</script>
