<textarea class="question-display unstyled" type="text" name="question[question]"><%= question.escape("question")%></textarea>

<section class="answers group">
  <textarea class="unstyled" type="text" name="question[answer][]"></textarea>
  <textarea class="unstyled" type="text" name="question[answer][]"></textarea>
  <textarea class="unstyled" type="text" name="question[answer][]"></textarea>
  <textarea class="unstyled" type="text" name="question[answer][]"></textarea>
</section>
