<textarea class="question-display unstyled"
          type="text"
          name="question[question]"
          placeholder="Question"
  ><%= question.escape("question")%></textarea>

<section class="answers group">
</section>
