<h1>Sign Up</h1>

<ul class="errors">
</ul>

<form class="sign-up-form">

  <label>
    Name
    <input type="string" name="user[name]">
  </label>

  <label>
    Email
    <input type="string" name="user[email]">
  </label>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <button>Sign Up</button>
</form>
