<h1 class="grade-show-title">Quiz Results</h1>
<section class="grade-show-info group">
  <section class="grade-show-score">
    <label>Score</label>
    <h1>
      <%= QuizCzar.calculate_percentage(
        parseInt(grade.get("correct_answers")),
        parseInt(grade.get("number_of_questions"))
      )%>%
    </h1>
  </section>
  <section class="grade-show-stats">
    <ul>
      <li>
        <%= grade.escape("number_of_questions") %> Questions
      </li>
      <li class="correct">
        <%= grade.escape("correct_answers") %> Right
      </li>
      <li class="wrong">
        <%= grade.escape("number_of_questions") -
            grade.escape("correct_answers") %> Wrong
      </li>
    </ul>
  </section>
</section>
