<h1>SHOW</h1>

<nav class="quiz-show-bar">
  <figure class="quiz-show-score">
    80%
  </figure>
  <label>My High Score</label>
  <figure class="show-bar-line"></figure>
</nav>


<h1 class="page-header"><%= quiz.escape("name") %></h1>
