<h1>SHOW</h1>

<nav class="quiz-show-bar">
  <figure class="quiz-show-score">
    80%
  </figure>
  <label>My High Score</label>
  <figure class="show-bar-line"></figure>
  <ul>
    <li>
      <figure class="take-quiz-icon"></figure>
      <label>Take Quiz</label>
    </li>
  </ul>
  <figure class="show-bar-line"></figure>
</nav>

<section class="quiz-show-content">
  <h1 class="page-header"><%= quiz.escape("name") %></h1>
</section>
