<section class="sign-in group">
  <h1 class="sign-in-header">Sign In<h1>

  <ul class="errors">
  </ul>

  <form class="sign-in-info">
    <label>
      Email
      <input type="string" name="user[email]">
    </label>

    <label>
      Password
      <input type="password" name="user[password]">
    </label>
  </form>

  <section class="buttons">

    <button class="sign-in-button">
      Log In
    </button>

    <%= _.template($("#facebook-login-button").html())() %>

    <button class="guest-sign-in-button">
      Guest Log In
    </button>

  </section>

</section>

<section class='sign-up'>
  <h3>Welcome to QuizCzar,</h3>
  <p>Easily find and create quizzes, and then share them with your friends on Facebook!</p>
  <button class="sign-up-button">Sign Up</button>
</section>
