html, body, h1, h2, h3 ,h4 ,h5, ul, section, figure, div, a, ul, li, input, textarea   {
  margin: 0px;
  border: 0px;
  padding: 0px;
  text-decoration: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  overflow: visible;
  outline: none;
  box-shadow: none;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

ul {
  list-style: none;
}

.group::after {
  clear: both;
  content: "";
  display: block;
}
