.quiz-show-view {
}

.quiz-show-bar {
  background-color: white;
  border-right: 1px solid rgb(158, 158, 158);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 220px;
  width: 200px;
}

.quiz-show-bar > ul > li > figure{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  background-color: rgb(58, 233, 118);
  margin: auto;
}

.quiz-show-bar > ul > li > figure:hover{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  background-color: rgb(46, 223, 85);
  margin: auto;
}

.quiz-show-score {
  font-size: 40px;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 30px;
}

.show-bar-line {
  height: 1px;
  background-color: grey;
  margin: 20px 15px;
}

.quiz-show-bar label {
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 5px;
}

.quiz-show-bar label:hover {
  color: grey;
}

.fb-like-container {
}

.quiz-show-content {
  margin-left: 200px;
}
