.question-thumbs {
  background-color: blue;
  width: 200px;
  padding: 0px;
  float: left;
}

.question-thumbs > li {
  margin: 0px 0px 20px;
  height: 60px;
  background-color: yellow;
}

.question-thumbs > li:hover {
  background-color: orange;
}

.question-form {
  background-color: pink;
  position: relative;
  margin-left: 260px;
}

.answers {
  display: block;
}

.answers > textarea {
  display: block;
  float: left;
  width: 49%;
  border: 1px solid black;
  font-size: 40px;
  height: 140px;
  background-color: blue;
  resize: none;
}


.question-display {
  display: block;
  width: 99%;
  height: 200px;
  font-size: 40px;
  resize: none;
  background: transparent;
  outline: none;
}

.question-display:focus{
  border: 2px solid blue;
}
