.quiz-table-items {
  width: 100%;
}

.quiz-table-items {
  border-collapse: collapse;
}

.quiz-table-items td{
  padding-top: 8px;
}

.quiz-table-items th{
  text-align: left;
  padding-bottom: 5px;
}

.quiz-index-headers {
  border-bottom: 1px solid black;
}
