.quiz-table-items {
  width: 100%;
}

.quiz-table-items {
  border-collapse: collapse;
}

.quiz-table-items td{
  box-sizing: border-box;
}

.quiz-table-items td a{
  display: block;
}

.quiz-table-items th{
  text-align: left;
  font-weight: 400;
  padding: 8px;
  padding-bottom: 5px;
}

.quiz-index-container{
}

.quiz-index-headers {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.quiz-table-items tr:nth-child(2n+3) {
  background-color: rgb(247, 247, 247);
}

.quiz-search {
  line-height: 0.9;
  font-size: 30px;
  width: 400px;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 40px;
  padding: 5px;
  border: 1px solid rgb(204, 204, 204);
  display: block;
}

.quiz-search-label {
  font-size: 14px;
  font-weight: bold;
  display: blo
}

.quiz-search:focus, .quiz-search:hover {
  color: rgb(92, 92, 92);
  border: 1px solid black;
}

.x {
  font-size: 24px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-45%, -50%) rotate(45deg) ;
  display: block;
  font-weight: 300;
  color: rgb(83, 83, 83);
}

a.x-link {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  padding: 6px;
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
}

a.x-link:hover {
  width: 25px;
  height: 25px;
  padding: 10px;
}



.name-column {
  width: 600px;
}

.author-column {
  width: 140px;
}

.high-score-column {
  width: 120px;
}

.edit-column {
  width: 80px;
}

.delete-column {
  width: 40px;
  position: relative;
}
