html {
  font-family: sans-serif;
  rgb(50, 50, 50)
}

#root {
  display: block;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#navbar {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  height: 100%;
  width: 220px;
  background-color: #1caff6;
  color: white;
}

#navbar logo{
  color: rgb(50, 50, 50);
  background-color: #f7eac8;
  border-bottom: 1px solid white;
}

#content {
  margin-left: 220px;
  width: 880px;
  display: block;
  position: relative;
  float: left;
  padding: 30px 25px;
  box-shadow: -2px 0 10px #585858;
  min-height: 1000px;
}


.bar-items > logo {
  display: block;
  margin: 0px 0px;
  padding: 15px;
}

.bar-items > li{
  display: block;
  margin: 0px 0px;
}

.bar-items > li > a{
  display: block;
  padding: 15px;
}

.bar-items > li:hover{
  background-color: #5cc4f6;
}




.page-header {
  font-size: 33px;
  display: block;
  padding: 0px 80px 80px 20px;
}
