#root {
  display: block;
  background-color: purple;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#navbar {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  height: 100%;
  width: 220px;
  background-color: blue;
}

#content {
  margin-left: 220px;
  width: 880px;
  display: block;
  position: relative;
  float: left;
  background-color: green;
  padding: 30px 22px;
}


.bar-items > logo {
  display: block;
  background-color: red;
  margin: 0px 0px;
  padding: 15px;
}

.bar-items > li{
  display: block;
  background-color: orange;
  margin: 0px 0px;
}

.bar-items > li > a{
  display: block;
  padding: 15px;
}

.bar-items > li:hover{
  background-color: rgb(255, 138, 0);
}




.page-header {
  font-size: 25px;
  display: block;
  padding: 0px 30px 50px 0px;
}
