
.sign-up-page > h1{
  margin: 20px;
  font-size: 30px;
  font-weight: 100;
}


.sign-up-page > ul{
  margin: 20px;
}

.sign-up-page label {
  display: block;
  margin: 30px
}

.sign-up-page {
 width: 300px;
}
