.sign-up {
  position: absolute;
  display: block;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
}

.sign-up > h1{
  margin: 20px;
}


.sign-up > ul{
  margin: 20px;
}

.sign-up-form label {
  display: block;
  margin: 15px
}

.sign-up-form button {
  display: block;
  margin: 15px
}
