

.hidden {
  display: none;
}



.sign-in-header {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 30px;
}

.sign-in {
  background-color: white;
  margin: auto;
  padding: 20px 25px;
  width: 250px;
}

.sign-in-form label {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  color: black;
  display: block;
  font-size: 14px;
}

.sign-in-form input:focus {
  border: 1px solid rgb(98, 122, 255);
}


.sign-in-form input {
  margin: 0;
  padding: 0;
  display: block;
  font: inherit;
  outline: none;
  font-size: 20px;
  border: 1px solid #ccc;
}

.sign-in-form button,
.sign-in .sign-in-facebook{
  float: left;
  margin: 0;
  margin-right: 8px;
  margin-top: 20px;
}
