.splash-image {
  position: relative;
  background-color: grey;
  height: 500px;
  padding: 20px;
}

.splash-nav {
}


.sign-in-link {
  float: right;
}

.sign-in-form {
  background-color: white;
  padding: 30px;
}

.sign-in-form input {
  display: block;
  margin: 20px;
}

.sign-up-button {
  display: block;
  position: absolute;
  width: 200px;
  height: 40px;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
