.splash-image {
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
  background-size: cover;
}

.hidden {
  display: none;
}

.splash-image > img{
  width: 120px;
  float: left;
}

.splash-nav {
  position: relative;
}


.sign-in-link, .sign-in-facebook{
  float: right;
  position: relative;
  color: white;
  background-color: rgb(98, 122, 255);
  padding: 8px 15px;
  display: block;
}

.sign-in-link:hover, .sign-in-facebook:hover {
  background-color: rgb(76, 100, 235);
}


.sign-in-form {
  background-color: white;
  padding: 20px 25px;
  right: 0px;
  top: 50px;
  position: absolute;
}

.sign-in-form label {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  color: black;
  display: block;
  font-size: 14px;
}

.sign-in-form input:focus {
  border: 1px solid rgb(98, 122, 255);
}


.sign-in-form input {
  margin: 0;
  padding: 0;
  display: block;
  font: inherit;
  outline: none;
  font-size: 20px;
  border: 1px solid #ccc;
}

.sign-in-form button {
  padding: 8px 15px;
  border: 0;
  background-color: rgb(98, 122, 255);
  color: white;
}

.sign-in-form button:hover {
  background-color: rgb(76, 100, 235);
}

.sign-up-button {
  font: inherit;
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 13%;
  left: 50%;
  background-color: rgb(17, 238, 139);
  border: 0;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.sign-up-button:hover {
  background-color: rgb(30, 228, 114);
}
