.user-show {
  width: 650px;
  padding: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 800px;
}

.user-show > img{
  float: left;
  width: 150px;
}

.user-show > h1{
  float: left;
  margin: 0 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.user-show-quizzes {
  padding-top: 35px;
  display: block;
  float: none;
  clear: both;
}


.picture-input {
  display: block;
  clear: both;
  padding-top: 12px;
}
