<ul class="bar-items">
  <logo>
    <%= _.template($("#logo").html())({}) %>
  </logo>
  <li><a href="#">My Quizzes</a></li>
  <li><a href="#quizzes/search">Search Quizzes</a></li>
  <li><a href="#quizzes/new">Make Quiz</a></li>
</ul>

<% if (user.id) { %>

  <ul class="user-bar-items bar-items">
    <a class="unstyled" href="#users/<%= user.id %>">
      <li class="user-info-item group">
        <img src="<%= user.escape("picture_url") %>">
        <h1><%= user.escape("name")%></h1>
      </li>
    </a>
    <li class="log-out">Log Out</li>
  </ul>

<% } %>
