<ul class="bar-items">
  <logo>
    QuizCzar
  </logo>
  <li><a href="#">My Quizzes</a></li>
  <li><a href="#quizzes/search">Search Quizzes</a></li>
  <li><a href="#quizzes/new">Make Quiz</a></li>
  <li class="signout"></li>
</ul>
