<ul class="bar-items">
  <logo>
    <%= _.template($("#logo").html())({}) %>
  </logo>
  <li><a href="#">My Quizzes</a></li>
  <li><a href="#quizzes/search">Search Quizzes</a></li>
  <li><a href="#quizzes/new">Make Quiz</a></li>
</ul>

<ul class="user-bar-items bar-items">
  <li class="user-info">
    <img src="<%= user.image_url %>">
  </li>
  <li class="signout"></li>
</ul>
