<nav id="navbar">
  <ul class="bar-items">
    <logo>
      QuizCzar
    </logo>
    <li>Recent Quizzes</li>
    <li>Search Quizzes</li>
    <li>Make Quiz</li>
    <li class="signout"></li>
  </ul>
</nav>
